<div class="py-4 mb-2">
  <h3 class="d-inline-block">Points</h3>
  <div class="float-right">
    <%= linkTo(pickpointlistPath(), {class: "btn btn-primary"}) { %>
      Load Postamats
    <% } %>
    <%= linkTo(newPointsPath(), {class: "btn btn-primary"}) { %>
      Create New Point
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>PointId</th>
    <th>Address</th>
    <th>CityName</th>
    <th>OutDescription</th>
    <th>OwnerId</th>
    <th>OwnerName</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (point) in points { %>
      <tr>
        <td class="align-middle"><%= point.Name %></td>
        <td class="align-middle"><%= point.PointId %></td>
        <td class="align-middle"><%= point.Address %></td>
        <td class="align-middle"><%= point.CityName %></td>
        <td class="align-middle"><%= point.OutDescription %></td>
        <td class="align-middle"><%= point.OwnerId %></td>
        <td class="align-middle"><%= point.OwnerName %></td>
        <td>
          <div class="float-right">
            <%= linkTo(pointPath({ point_id: point.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editPointPath({ point_id: point.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(pointPath({ point_id: point.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
